.body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e2e2e2;
    text-align: center;
}


header {
    background-color: #5d0b0b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

header img {
    height: 60px;
}

nav a {
    text-decoration: none;
    background-color: #ffce00;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 8px;
    color: white;
    font-weight: bold;
    border: 5px solid #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   font-size: 22px;
}

nav a:hover {
    background-color: #ffd633;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #800000;
  color: yellow;
  border: none;
  cursor: pointer;
}


.main {
  flex-grow: 1;
  padding: 40px;
  text-align: center;
  color: #555;
  font-size: 18px;
}


.container {
  display: flex;
}
