.body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e2e2e2;
    text-align: center;
}


header {
    background-color: #5d0b0b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

header img {
    height: 60px;
}

nav a {
    text-decoration: none;
    background-color: #ffce00;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 8px;
    color: white;
    font-weight: bold;
    border: 5px solid #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   font-size: 22px;
}

nav a:hover {
    background-color: #ffd633;
}

/* Título */
.titulo {
    margin-top: 30px;
    font-size: 2.3rem;
}


.campanhas {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.card img {
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid #1b1b1b;
}

.legenda {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}


footer {
    margin-top: 40px;
    background-color: #5d0b0b;
    padding: 15px;
    color: #fff;
}


/* Container dos dados */
.dice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

/* Caixa individual de cada dado */
.dice-box {
    background: white;
    width: 180px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.dice-box img {
    width: 100px;
    height: 100px;
}

/* Botão amarelo */
.btn {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #ffcc00;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid black;
}

.btn:hover {
    background: #e0b000;
}

/* Resultado da rolagem */
.result {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}
